* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  font-family: 'DM Sans', sans-serif;
}



input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #323232 inset !important;
  -webkit-text-fill-color: white !important;
}

.search-result >  ::-webkit-scrollbar { 
    display: none;  
}

.slider  ::-webkit-scrollbar { 
    display: none;  
}


.search-result {
  -ms-overflow-style: none; 
    scrollbar-width: none;  
}

.search-container {
  background: #282828;
  height: 50px;
  border-radius: 2rem;
  display: flex;
  max-width: 400px;
  align-items: center;
  padding: 10px;
}

.search-input {
  border: none;
  outline: none;
  margin-inline: auto;
  margin-block: auto;
  height: 90%;
  color: #fff;
}

.search-container:has(input:focus)  {
  border: 2px solid #fff;
}

.play_button_result {
  position: absolute;
}

.list_tile > * {
  color: #fff;
}

.page_index, .slider_btn {
  border: none;
  outline: none;
  margin-inline: 10px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #303030;
}

.slider_btn {
  background: #1ED760;
  color: #fff;
  height: 20px;
  width: 20px;
}

.slider_controller {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.slide_marker::marker {
  display: none;
}

.list_tile:hover .btn {
  color: #fff !important;
}

.list_tile.active .btn {
  color: #fff !important;
}

.list_tile.active > * {
  color: #fff !important;
}

@media (min-width: 600px) {
  .home {
    background: linear-gradient(#222222, #000);
    padding: 10px;
  }
}