* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  font-family: 'DM Sans', sans-serif;
}


input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #323232 inset !important;
  -webkit-text-fill-color: white !important;
}

.search-result >  ::-webkit-scrollbar { 
    display: none;  
  }

.search-result {
  -ms-overflow-style: none; 
    scrollbar-width: none;  
}

@media (min-width: 600px) {
  .home {
    background: linear-gradient(#222222, #000);
    padding: 10px;
  }
}